{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    {{ block.super }}
    {% if buttons %}
        {% for button in buttons%}
            <li><a href="{% url button.url %}" class="addlink">{{ button.name }}</a></li>
        {% endfor %}
    {% endif %}
{% endblock %}


{% block result_list %}
    {{ block.super }}
    {% if total %}
        <div class="results" style="display: flex; justify-content: space-between; align-items: center;">
            <div><h3>Сумма всех записей:</h3></div>
            <div><h3>{{ total }}</h3></div>
        </div>
    {% endif %}
{% endblock %}
