{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% translate 'Delete multiple objects' %}
</div>
{% endblock %}

{% block content %}
    <div>
        <form id="upload-csv-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if objects %}
                <h2>Будут добавлены записи:</h2>
                {% for object in objects %}
                    <ul>{{ object }}</ul>
                {% endfor %}
                <input type="submit" name="db_save" value="Добавить" />
            {% else %}
                <p>{{ form.as_p }}</p>
                <input type="submit" value="Загрузить" />
            {% endif %}
            <a href="#" class="button cancel-link">Назад</a>
        </form>
    </div>
{% endblock %}
